<div class="footer">
    <a href="/"><h2 class="footer-title">Drill</h2></a>
    <div class="footer-contact">
        <h5>Contato:</h5>
        <div>
            <p>Bruno Ribeiro</p>
            <p>brunolucas23@gmail.com</p>
            <p>(79) 98818-8543</p>
        </div>
    </div>
</div>