<div class="sobre">
    <h5><span>Drill</span> é um blog de música onde faz o usuário experienciar uma imersão focada em introduzir as pessoas 
    ao estilo musical “Drill” nascido inicialmente na Inglaterra e que no dia de hoje já está se espalhado pelo mundo. Dentre as implementações incluem:</h5>
        • Solução Criativa ao implementar requisições AJAX (XMLHttpRequest) no Node Js juntando um Sistema de Rádio criado 
        do zero e atualizando apenas partes da aplicação usando técnicas de Javascript avançado, com o objetivo de manter o 
        usuário escutando a música mesmo ao navegar pelas páginas do site (Tais feitas nos serviços de streaming como Spotify, 
        Apple Music e Soundcloud) criando uma boa experiência e imersão ao estilo musical. <br/>
        • Sistema de Autenticação (Com criptografia CryptoJS) e de Comentários usando MongoDB, de forma em que o 
        usuário possa interagir e se conectar com as pessoas que apreciam o estilo, permitindo-o se expressar.<br/>
    <p class="sobre-credits">Bruno Lucas Ribeiro Santos<br/>
        brunolucas23@gmail.com<br/>
        +55 (79) 98818-8543
    </p>
    <a href="https://www.linkedin.com/in/bruno-ribeiro02/" target="_blank">Linkedin</a>
</div>